In [5]:
# Logistic Regression

# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
# Importing the datasets

datasets = pd.read_csv('Social_Network_Ads .csv')
X = datasets.iloc[:, [2,3]].values
Y = datasets.iloc[:, 4].values
datasets.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [25]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [26]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)
print(X_Train.shape)
print(X_Test.shape)

(300, 2)
(100, 2)

In [27]:
# Fitting the Logistic Regression into the Training set

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_Train, Y_Train)

LogisticRegression(random_state=0)

In [28]:
# Predicting the test set results

Y_Pred = classifier.predict(X_Test)

In [29]:
# Making the Confusion Matrix 

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_Test, Y_Pred)
show = pd.DataFrame(cm,columns=["yes","no"],index=["yes","no"])
show.head()

     yes  no
yes   65   3
no     8  24

In [30]:
# More metrics

from sklearn.metrics import accuracy_score
print("Accuracy=", accuracy_score(Y_Test, Y_Pred))

from sklearn.metrics import f1_score
print("F1=", f1_score(Y_Test, Y_Pred))

from sklearn.metrics import precision_score
print("Precision=", precision_score(Y_Test, Y_Pred))

#To know more about measuring metrics you can follow this link: https://scikit-learn.org/stable/modules/model_evaluation.html

Accuracy= 0.89
F1= 0.8135593220338982
Precision= 0.8888888888888888